<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="a">
        <form action="/storeinfotodb" method="POST">

        <p>Name</p>
        <input type="text" name="name" id="name">
        <p>Description</p>
        <input type="text" name="description" id="description" size="50">
        <p>Email</p>
        <input type="text" name="email" id="email">
        <p>Number</p>
        <input type="text" name="number" id="number">
        <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>