<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='user/1.css') }}">
</head>
<body>
    <div class="a"><a href="user"><img src="" alt=""></a></div>
    <div class="b">
        <div class="b1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus qui accusantium alias accusamus sed nostrum voluptates voluptatem esse repellendus quisquam, assumenda soluta ratione, eligendi dolore fugiat animi voluptatum at corporis sapiente aperiam quos, itaque id! Ducimus, repellat. Molestiae temporibus odio rerum, iure voluptates eligendi? Similique totam magni dolore illum vitae.</div>
        <div class="b2">
            <h2>Services</h2>
            <div class="b21 b2a">
                <p>Full Plan <span id="select1">Select</span></p>
            </div>
            <div class="b21 b2a">
                <p>Specific Plan <span id="select2">Select</span></p>
            </div>
            <form action="/cart" id="form">
                    <input type="text" id="i_select1" type="hidden">
                    <input type="text" id="i_select2" type="hidden">
            </form>
            <script>
                select1 = document.getElementById("select1")
                select2 = document.getElementById("select2")

                i_select1 = document.getElementById("i_select1")
                i_select2 = document.getElementById("i_select2")
                
                document.getElementById("form").style.display = "none"

                select1.addEventListener("click", function(){
                    if (i_select1.value == "1"){
                        select1.innerText = "Select"
                        i_select1.value = "0"
                    }
                    else{
                        select1.innerText = "Unselect"
                        i_select1.value = "1"
                    }
                })
                select2.addEventListener("click", function(){
                    if (i_select2.value == "1"){
                        select2.innerText = "Select"
                        i_select2.value = "0"
                    }
                    else{
                        select2.innerText = "Unselect"
                        i_select2.value = "1"
                    }
                })
                </script>
            
            
        </div>
    </div>
</body>
</html>