<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design</title>
</head>
<body>
    <div class="a"></div>
    <div class="b">
        <div class="b1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus qui accusantium alias accusamus sed nostrum voluptates voluptatem esse repellendus quisquam, assumenda soluta ratione, eligendi dolore fugiat animi voluptatum at corporis sapiente aperiam quos, itaque id! Ducimus, repellat. Molestiae temporibus odio rerum, iure voluptates eligendi? Similique totam magni dolore illum vitae.</div>
        <div class="b2">
            <h2>Services</h2>
            <div class="b21 b2a">
                <p>Full Plan</p>
            </div>
            <div class="b21 b2a">
                <p>Specific Plan</p>
            </div>
        
            
            
        </div>
    </div>
</body>
</html>