<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .b1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .b1a{
            padding: 10%;
            margin: 3%;
            margin-top: 5%;
            margin-bottom: 5%;
            border: black 2px solid;
            color: black;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="a"></div>
    <div class="b">
        <h2>Choose the service that suites you</h2>
        <div class="b1">
            <a class="b11 b1a" href="advertising.html">
                <h2>Advertising</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, aspernatur magnam quam delectus vel
                    cupiditate fugit architecto! Corporis, consequuntur soluta!</p>
                </a>
            <a class="b12 b1a" href="marketing.html">
                <h2>Marketing</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, aspernatur magnam quam delectus vel
                    cupiditate fugit architecto! Corporis, consequuntur soluta!</p>
                </a>
            <a class="b13 b1a" href="design.html">
                <h2>Design</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, aspernatur magnam quam delectus vel
                    cupiditate fugit architecto! Corporis, consequuntur soluta!</p>
                </a>
            <a class="b14 b1a" href="media.html">
                <h2>Media Solutions</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam, aspernatur magnam quam delectus vel
                    cupiditate fugit architecto! Corporis, consequuntur soluta!</p>
                </a>
        </div>
    </div>
</body>

</html>